
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../public/loginbg.png');
    background-position: bottom;
    background-size: cover;
}

.main{
    /* border: 1px solid black; */
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.main p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #256D85;
    margin-top: .95rem;
}

.login{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: .25rem;
    font-size: 1.3rem;
}

.loginGoogle{
    width: 100%;
    background-color: #002B5B;
    border: none;
    padding: .75rem;
    align-items: center;
    color: white;
    border-radius: .5rem;
    margin: 1rem;
    font-family: 'Poppins', sans-serif;
}

.loginGoogle span{
    margin-right: .5rem;
}